body {
  font-family: sans-serif;
  font-size: 16px;
}
.container {
  margin: 40px auto;
  max-width: 1200px;
}
.d-flex {
  display: flex;
}

:root {
  --highlight-color-left: #82c0cc;
  --backgroud-color-left: #3943b7;
  --text-color-left: #fffffff;
  --highlight-color-right: #3943b7;
  --backgroud-color-right: #fffffff;
  --text-color-left: #000505;
}
